<?xml version="1.0"?>
<robot name="sigma">

  <material name="grey"><color rgba="0.6 0.6 0.62 1"/></material>
  <material name="accent"><color rgba="0.2 0.6 0.9 1"/></material>

  <link name="base_link">
    <visual>
      <origin xyz="-0.000000 -0.000000 -0.000000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="platform">
    <visual>
      <origin xyz="-0.035478 -0.074810 -0.282933" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/platform.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="upper_2">
    <visual>
      <origin xyz="-0.260000 -0.107000 -0.056000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/upper_2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="upper_1">
    <visual>
      <origin xyz="-0.060000 -0.183000 -0.056000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/upper_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="upper_0">
    <visual>
      <origin xyz="-0.060000 -0.107000 -0.056000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/upper_0.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="upper_3">
    <visual>
      <origin xyz="-0.260000 -0.183000 -0.056000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/upper_3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="lower_0">
    <visual>
      <origin xyz="-0.060000 -0.107000 -0.056000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/lower_0.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="lower_2">
    <visual>
      <origin xyz="-0.260000 -0.107000 -0.056000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/lower_2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="lower_3">
    <visual>
      <origin xyz="-0.260000 -0.183000 -0.056000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/lower_3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="lower_1">
    <visual>
      <origin xyz="-0.060000 -0.183000 -0.056000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/lower_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="axis_0">
    <visual>
      <origin xyz="-0.060000 -0.107000 -0.056000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/axis_0.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="accent"/>
    </visual>
  </link>

  <link name="axis_1">
    <visual>
      <origin xyz="-0.060000 -0.183000 -0.056000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/axis_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="accent"/>
    </visual>
  </link>

  <link name="axis_2">
    <visual>
      <origin xyz="-0.260000 -0.107000 -0.056000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/axis_2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="accent"/>
    </visual>
  </link>

  <link name="axis_3">
    <visual>
      <origin xyz="-0.260000 -0.183000 -0.056000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/axis_3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="accent"/>
    </visual>
  </link>

  <link name="disc_3">
    <visual>
      <origin xyz="-0.260000 -0.183000 -0.056000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/disc_3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="disc_2">
    <visual>
      <origin xyz="-0.260000 -0.107000 -0.056000" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/phorce/Desktop/SIGMA/cad/meshes/disc_2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <joint name="joint_platform" type="revolute">
    <parent link="upper_0"/>
    <child link="platform"/>
    <origin xyz="-0.024522 -0.032190 0.226933" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="7.2" velocity="15.7"/>
  </joint>

  <joint name="fix_upper_2" type="fixed">
    <parent link="lower_2"/>
    <child link="upper_2"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

  <joint name="fix_upper_1" type="fixed">
    <parent link="lower_1"/>
    <child link="upper_1"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

  <joint name="fix_upper_0" type="fixed">
    <parent link="lower_0"/>
    <child link="upper_0"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

  <joint name="fix_upper_3" type="fixed">
    <parent link="lower_3"/>
    <child link="upper_3"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

  <joint name="fix_lower_0" type="fixed">
    <parent link="axis_0"/>
    <child link="lower_0"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

  <joint name="fix_lower_2" type="fixed">
    <parent link="axis_2"/>
    <child link="lower_2"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

  <joint name="fix_lower_3" type="fixed">
    <parent link="axis_3"/>
    <child link="lower_3"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

  <joint name="fix_lower_1" type="fixed">
    <parent link="axis_1"/>
    <child link="lower_1"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

  <joint name="joint_axis_0" type="revolute">
    <parent link="base_link"/>
    <child link="axis_0"/>
    <origin xyz="0.060000 0.107000 0.056000" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="7.2" velocity="15.7"/>
  </joint>

  <joint name="joint_axis_1" type="revolute">
    <parent link="base_link"/>
    <child link="axis_1"/>
    <origin xyz="0.060000 0.183000 0.056000" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="7.2" velocity="15.7"/>
  </joint>

  <joint name="joint_axis_2" type="revolute">
    <parent link="base_link"/>
    <child link="axis_2"/>
    <origin xyz="0.260000 0.107000 0.056000" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="7.2" velocity="15.7"/>
  </joint>

  <joint name="joint_axis_3" type="revolute">
    <parent link="base_link"/>
    <child link="axis_3"/>
    <origin xyz="0.260000 0.183000 0.056000" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="7.2" velocity="15.7"/>
  </joint>

  <joint name="fix_disc_3" type="fixed">
    <parent link="axis_3"/>
    <child link="disc_3"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

  <joint name="fix_disc_2" type="fixed">
    <parent link="axis_2"/>
    <child link="disc_2"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

</robot>
